@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet estilos */
@import "leaflet/dist/leaflet.css";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f1f5f9; /* slate-100 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
